* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e8e8e8;
  padding-inline: 10%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-top: 30px;
  color: #0b443b;
  font-size: 42px;
}

.btn {
  box-shadow: 0 2px 4px #ccc;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #259aa6;
  color: #fff;
  font-size: 18px;
  margin-top: 48px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.15s ease;
}

.btn:hover {
  background-color: #1fa2b1;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 48px;
  padding-block: 24px;
}

.pallet-container {
  width: 240px;
  height: 100px;
  display: flex;
  cursor: pointer;
}

.color-container {
  background-color: #259aa6;
  color: rgb(255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.color-container:first-child {
  width: 60%;
}

.color-container:nth-child(2) {
  width: 30%;
}

.color-container:last-child {
  width: 10%;
}
